---
title: Sinner's Prayer
---

<h1>
  Sinner's Prayer
</h1>

<p id='guilt'>
  O God, I have sinned against You.
  I am filled with great shame and loathing for all my filthy conduct.
</p>

<p id='desires'>
  I desired to live and die without You; this is my sin.
  I have been rebellious, self-loving, hateful, wilfully disobedient and hypocritical.
</p>

<p id='confession'>
  I confess of all sins I know of by name.
  I confess of all sins which does not immediately come to mind.
  I confess of the sins of my ancestors.
</p>

<p id='forgiveness'>
  I ask for forgiveness by faith.
</p>

<p id='belief'>
  I believe that Jesus Christ died and was resurrected on the third day.
  I believe that He did this all for me that I may be saved from the righteous wrath of God.
  I receive Jesus Christ as my Lord and Saviour.
  Lord I believe that You are just and faithful to forgive me for all my sins.
  I receive Your forgiveness in Jesus’s name. 
  A believe that I am forgiven.
</p>

<p id='commitment'>
  I give up my old, rotten, filthy and shameful conduct of the past.
  I commit to living my life for God. 
  I declare by faith that this is the first day of my life. 
  I am born again to live again for God alone
  I will no longer live my life for the world, for Satan or for the sinful flesh. 
</p>

<p id='saved'>
  Thank you Jesus for saving. 
  I am saved! Praise be to God, I am saved! 
</p>